---

import Layout from '../../layouts/Layout.astro';

---

<Layout title="Login">
    <div >
        <p class="text-black">
            <h1>Login Page</h1>
            
        </p>
    </div>
</Layout>