---

import Layout from '../../layouts/Layout.astro';

---

<Layout title="Dashboard">
    <div >
        <p class="text-black">
            <h1>Welcome to <span class="text-white">Astro</span></h1>
        </p>
    </div>
</Layout>