---

import { Button } from '../../components/dashboard/Button';
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Dashboard">
    <div >
        <p class="text-black">
            <h1>Welcome to <span class="text-white">Astro</span></h1>
            <Button text="Créer un store" client:load></Button>
            <Button text="Créer un produit" client:load></Button>
        </p>
    </div>
</Layout>