---

import { getSession } from 'auth-astro/server';

interface Props {
	title: string;
}

const { title } = Astro.props;

const session = await getSession(Astro.request);

// if ( session ) return Astro.redirect("/dashboard");

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="antialiased text-slate-500 dark:text-slate-400 bg-white dark:bg-slate-900 h-full">
		<script>
			const {signIn, signOut} = await import('auth-astro/client');
			(document.querySelector("#login") as any).onclick = () => signIn("github");
			(document.querySelector("#logout") as any).onclick = () => signOut();
		</script>
		<nav>
					{
				// server side
				session ? (
					<div class="justify-end flex backdrop-blur-sm bg-white/5">
						<div class="py-2.5">
							<button id="logout" class="px-1 text-sm text-white hover:text-cyan-300 font-bold">
								logout	
							</button>
						</div>

						<div class="flex space-x-2 py-2 px-2">
							<p class="text-white text-sm py-1 font-light">{session.user?.email}</p>
							<img class="w-8 h-8 rounded" src={session.user?.image}></img>
						</div>
					</div>
				)
				: (
					<button id="login">Login</button>
					<p>Not logged in</p>
				)
			} 


		</nav>

		<slot />
	</body>
</html>

<!--
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
 -->